h1{text-align: center;
border-color: rgb(1, 1, 1);
border-style:dashed;
border-width: 5px;
  }

h2{text-align: center;
}

body{
    background-color: rgb(206, 217, 226);
    display: flex;
    flex-direction: column;
    align-items: center;
}

img{align-items: center;
    width: 900px;
}